<html>
  <head>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined-dev.js'></script>
    <script type='text/javascript' src='/static/app.js'></script>
  </head>
  <body onload='init_v3()'>
    <center>
      <div id='temps_div' style='margin-bottom: 2em'></div>
      <div id='humid_div' style='margin-bottom: 2em'></div>
      <div id='debug'></div>
    </center>
  </body>
</html>
