body {
    font-family: Roboto, sans-serif;
    color: #666666;
    text-align: center;
}

#debug {
    font-size: 80%;
}

.grouping {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

.grouping .name {
    font-size: 150%;
}

.summary {
    display: inline-block;
}

.summary .stat {
    padding: 1em;
    display: table-cell;
}

.summary .stat .label {

}

.summary .stat .value {
    font-weight: bold;
    font-size: 200%;
}
